<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',border:false">
			<!-- 功能导航区 -->
			<div class="easyui-tabs"
				data-options="tabPosition:'left',fit:true,border:false,headerWidth:150">
				<!-- 功能项 -->
				<div title="茅台酒库项目" style="padding: 10px">
					<p style="color: blue; font-weight: bold;">上传</p>
					<ul>
						<li><a
							href="javascript:addTab('tab','酒库资料上传','/html/mode_a/mapage001.html');"
							style="text-decoration: none; color: black;">酒库资料上传</a></li>
						<li class='nbsp'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li><a
							href="javascript:addTab('tab','酒库资料上传','/html/mode_a/mapage001.html');"
							style="text-decoration: none; color: black;">酒库资料上传</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-options="region:'east',border:false" style="width: 300px">
		</div>
	</div>
</body>
</html>